body {
	margin: 0;
}
#three-canvas {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}
.scroll-item {
	height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-item div {
	height: 200px;
	display: flex;
	align-items: center;
}

.scroll-item h2 {
	text-align: center;
}