@charset 'UTF-8';

@import url('./font/SUIT/SUIT.css');

html {
	font-size: 10px;
	font-family: 'SUIT';
}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

#three-canvas {
	position: fixed;
	left: 0;
	top: 0;
	/* z-index: -1; */
}
.scroll-item {
	height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-item div {
	height: 200px;
	display: flex;
	align-items: center;
}

.scroll-item h2 {
	text-align: center;
}

.project {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	box-sizing: border-box;
	z-index: 11;
	overflow: auto;
	padding-top: 13.4rem;
}

.project-util {
	height: 13.4rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 192rem;
	width: 100%;
}

.project-util strong {
	color: #BCBCBC;
	font-size: 1.4rem;
}

.project-detail {
	width: 140rem;
	height: 100%;
	padding: 0;
	display:flex;
}

.project-detail-title {
	width: 32%;
	height: calc(100vh - 26.8rem);
	padding-right: 6rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-detail-title .logo {
	position: fixed;
	bottom: 0;
	left: 25%;
}

.project-detail-title-info {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.project-detail-title-info strong {
	font-size: 1.4rem;
	opacity: 0.4;
	margin-top: 5.8rem;
	margin-bottom: 1rem;
	font-weight: 400;
}

.project-detail-title-info strong:first-of-type {
	margin-top: 0;
}

.project-detail-title-info div {
	font-size: 1.8rem;
	color: #fff;
	text-decoration: none;
}

.project-detail-title-info .home {
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 50%;
	background: #000;
}


.project-detail-title-topic {
	font-size: 2.5rem !important;
	font-weight: 700;
}

.project-detail-info {
	width: 68%;
	position: relative;
}

.project-detail-info img {
	width: 100%;
}

.progress {
	position: fixed;
	width: 100vw;
	height: 5px;
	top: 0;
	background: #666;
	z-index: 10;
}

.bar {
	position: absolute;
	width: 0;
	height: 5px;
	top: 0;
	background: yellow;
	transition: width .2s ease-out;
}