@charset 'UTF-8';

@import url('./font/SUIT/SUIT.css');

html {
	font-size: 10px;
	font-family: 'SUIT';
}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

#three-canvas {
	position: fixed;
	left: 0;
	top: 0;
	/* z-index: -1; */
}
.scroll-item {
	height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-item div {
	height: 200px;
	display: flex;
	align-items: center;
}

.scroll-item h2 {
	text-align: center;
}

.project {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	box-sizing: border-box;
	z-index: 11;
	overflow: auto;
	padding-top: 13.4rem;
}

.project-util {
	height: 13.4rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 192rem;
	width: 100%;
	padding: 0 2rem;
}

.project-util strong {
	color: #BCBCBC;
	font-size: 1.4rem;
}

.project-detail {
	width: 140rem;
	height: 100%;
	padding: 0;
	display:flex;
}

.project-detail-title {
	width: 32%;
	height: calc(100vh - 26.8rem);
	padding-right: 6rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project-detail-title .logo {
	position: fixed;
	bottom: 10%;
	right: 0;
}

.project-detail-title .logo img {
	mix-blend-mode: multiply;
}

.project-detail-title-info {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.project-detail-title-info strong {
	font-size: 1.4rem;
	opacity: 0.4;
	margin-top: 5.8rem;
	margin-bottom: 1rem;
	font-weight: 400;
}

.project-detail-title-info strong:first-of-type {
	margin-top: 0;
}

.project-detail-title-info div {
	font-size: 1.8rem;
	color: #fff;
	text-decoration: none;
}

.project-detail-title-info .home {
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 50%;
	background: #000;
}


.project-detail-title-topic {
	font-size: 2.5rem !important;
	font-weight: 700;
}

.project-detail-info {
	width: 68%;
	position: relative;
}

.project-detail-info img {
	width: 100%;
}

.progress {
	position: fixed;
	width: 100vw;
	height: 5px;
	top: 0;
	background: #666;
	z-index: 10;
}

.bar {
	position: absolute;
	width: 0;
	height: 5px;
	top: 0;
	background: yellow;
	transition: width .2s ease-out;
}

html {
}

#wrap {
	overflow: hidden;
	padding: 100px;
}

.bg {
	transition: filter 2s;
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	flex-wrap: wrap;
	background: pink;
	animation : animateColor 5s linear infinite;
	z-index: 0;
}

@keyframes animateColor {
	0% {
		filter : hue-rotate(0deg)
	}

	100% {
		filter : hue-rotate(360deg)	
	}
}

.bg span {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
}

.bg span::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	background: #00ff0a;
	border-radius: 50%;
	transform: scale(0);
	transition: 2s;
	box-shadow: 0 0 10px #00ff0a,
				0 0 20px #00ff0a,
				0 0 40px #00ff0a,
				0 0 60px #00ff0a,
				0 0 80px #00ff0a,
				0 0 100px #00ff0a;
}

.bg span:hover::before {
	transform: scale(1);
	transition: 0s;
}

.list {
	display:flex;
	flex-direction:column;
	gap : 10rem;
	width: 142rem;
	margin: 0 auto;
}

.item {
	width: 48.1rem;
	height:48.1rem;
	margin-left: auto;
	position: relative;
}

.item:nth-of-type(even) {
	margin-right: auto;
	margin-left: 0;
}

.item > img {
	width: 100%;
}

.item:hover .item-info {
	transform:translate(-50%,-50%) scale(1.2)
}
.item-info {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%) scale(1);
	transition:.25s;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	color:#fff;
	font-size:1.8rem;
	padding:3rem 4rem;
	z-index: 1;
}

.item-info div {
	display:flex;
	width:100%;
	justify-content:space-between;
}